<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand"  routerLink="/" >Conduit</a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link"  routerLink="/Index" routerLinkActive="active">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/NewArticle" routerLinkActive="active"  ><i class="far fa-edit"></i> Yeni Makale</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link"  routerLink="/List" routerLinkActive="active"  >List</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link"  routerLink="/Profile" routerLinkActive="active"  >Profile</a>
        </li>
      </ul>
     <nav class="navbar-nav ">
       <a class="nav-link " routerLink="/Register" routerLinkActive="active">Register</a>
       <a class="nav-link"  routerLink="/Login" routerLinkActive="active">Login</a>
       <a class="nav-link "  (click)="Logout()" >Logout</a>
     </nav>
    </div>
  </nav>

  <div class="container-fluid ">
    <router-outlet></router-outlet>
  </div>